<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Z-Distance(mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.RewriteM600.zDistance">
        </div>
        <label class="control-label">{{ _('Z-Distance(mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.RewriteM600.zDistance">
        </div>
        <label class="control-label">{{ _('Tool Change X (mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.RewriteM600.toolChangeX">
        </div>
        <label class="control-label">{{ _('Tool Change Y (mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.RewriteM600.toolChangeY">
        </div>
    </div>
</form>
