<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Z-Distance(mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.m600_filament_change.zDistance"> The nozzle will vertically separate from the object that distance while retracting 5 mm of filament when the chosen layer is reached.
        </div>
        <label class="control-label">{{ _('Park head X (mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.m600_filament_change.x_park"> Head move here for manual operation
        </div>
        <label class="control-label">{{ _('Park head Y (mm): ') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.m600_filament_change.y_park"> Head move here for manual operation
        </div>
        <label class="control-label">{{ _('Filament extraction (mm): ') }}</label> Amount of filament retracted after parking
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.m600_filament_change.retractDistance">
        </div>
    </div>
     
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.m600_filament_change.DisableSteppers" > Disable Steppers
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.m600_filament_change.DisableX, enable: settings.plugins.m600_filament_change.DisableSteppers" > Disable X
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.m600_filament_change.DisableY, enable: settings.plugins.m600_filament_change.DisableSteppers" > Disable Y
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.m600_filament_change.DisableZ, enable: settings.plugins.m600_filament_change.DisableSteppers" > Disable Z
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: settings.plugins.m600_filament_change.DisableE, enable: settings.plugins.m600_filament_change.DisableSteppers" > Disable E
                    </label>
                <input type="checkbox" data-bind="checked: settings.plugins.m600_filament_change.PostfixEnableSteppers, enable: settings.plugins.m600_filament_change.DisableSteppers" > Enable all disabled steppers before print continues.
            </label>
        </div>
    </div>
</form>
